In [1]:
from stockanalysis.data import *
from stockanalysis.encoder import *

from stockanalysis.utils import *


from stockanalysis.param import *

2022-03-03 22:40:38.454234: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-03-03 22:40:38.454257: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [4]:
import datetime

In [5]:
ticker = "INFY.NS"


#Get Data

start_date = (datetime.datetime.now() - datetime.timedelta(days=5 * 365)).strftime("%Y-%m-%d")
end_date = datetime.datetime.now().strftime("%Y-%m-%d")
cleaned_data = get_technical(symbol=ticker, start=start_date,
                                 end=end_date)

[*********************100%***********************]  1 of 1 completed

In [7]:
cleaned_data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'ema12', 'ema21',
       'ema26', 'ema34', 'ema55', 'ema99', 'ema200', 'hma12', 'hma21', 'hma26',
       'hma34', 'hma55', 'hma99', 'hma200', 'rsi', 'atr', 'bb_upper',
       'bb_lower', 'macd_signal', 'macd_line', 'adx', 'vwap'],
      dtype='object')

# Feature Engen

In [ ]:
from statsmodels.api

In [8]:
cleaned_data

,Date,Open,High,Low,Close,Volume,ema12,ema21,ema26,ema34,...,hma99,hma200,rsi,atr,bb_upper,bb_lower,macd_signal,macd_line,adx,vwap
0,2018-01-10,523.400024,528.000000,516.525024,526.125000,9468634,515.417599,511.457733,509.126366,505.483222,...,519.243687,491.868410,65.630350,9.354945,526.220065,499.994935,6.291233,6.505955,36.216461,523.550008
1,2018-01-11,527.625000,541.700012,527.625000,537.900024,16775298,518.876434,513.861577,511.257748,507.335610,...,520.471967,493.209351,71.613382,9.799235,530.929406,498.888096,7.618686,6.728501,37.685906,535.741679
2,2018-01-12,542.900024,542.950012,535.275024,539.224976,18016528,522.006979,516.167341,513.329395,509.157860,...,521.878843,494.622573,72.199813,9.647503,535.257917,497.827084,8.677584,7.118317,39.120431,539.150004
3,2018-01-15,540.000000,546.474976,532.549988,540.575012,10649250,524.863599,518.386220,515.347589,510.953126,...,523.444907,496.104031,72.816047,9.953038,539.261624,496.735877,9.516011,7.597856,40.646967,539.866659
4,2018-01-16,540.625000,567.400024,540.625000,561.424988,22646966,530.488428,522.298835,518.760729,513.837232,...,525.380728,497.726160,80.138480,11.158179,548.623582,492.686419,11.727699,8.423825,42.888104,556.483337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1018,2022-02-24,1690.099976,1714.949951,1670.500000,1678.150024,13592379,1724.774533,1739.071299,1746.146943,1754.554786,...,1775.293030,1822.540822,39.686492,42.944431,1784.541625,1674.788367,-21.372410,-22.276098,20.028052,1687.866659
1019,2022-02-25,1715.000000,1728.150024,1677.000000,1694.599976,9737281,1720.132293,1735.028451,1742.328649,1751.128797,...,1769.349405,1820.186752,42.503773,43.530545,1783.739521,1676.430474,-22.196356,-22.260150,19.998987,1699.916667
1020,2022-02-28,1682.199951,1728.050049,1665.000000,1715.599976,15076542,1719.435013,1733.262226,1740.348747,1749.098578,...,1763.437619,1817.817345,45.973248,44.924795,1782.990599,1675.119399,-20.913734,-21.990866,20.197559,1702.883341
1021,2022-03-02,1710.000000,1714.400024,1691.000000,1702.800049,6771489,1716.875788,1730.492937,1737.567362,1746.452948,...,1757.450557,1815.382325,44.221658,43.473022,1776.868643,1674.316355,-20.691574,-21.731008,20.381947,1702.733358
1022,2022-03-04,1695.250000,1695.250000,1695.250000,1720.849976,7344149,1717.487202,1729.616305,1736.329037,1744.989921,...,1751.664682,1812.962351,47.272482,40.907095,1765.096078,1679.463919,-18.841836,-21.153174,20.553164,1703.783325

# Feature Selection

# Plot Analysis