In [3]:
import pandas as pd
import yfinance
import numpy as np
import pandas_ta as pta

In [19]:
ticker = yfinance.Ticker("INFY.NS")
df = ticker.history(period = '5y')
df.drop(columns=['Dividends','Stock Splits'],inplace=True)

In [20]:
df

                   Open         High          Low        Close    Volume
Date
2017-02-15   432.556063   436.753928   423.635568   429.320190   7259486
2017-02-16   433.343133   443.356825   432.927713   442.569702  12815858
2017-02-17   443.291283   443.291283   434.086572   437.322418   4851208
2017-02-20   435.748251   450.834367   434.436415   441.760834   4650662
2017-02-21   446.942546   447.992026   437.300556   443.225677   7613996
...                 ...          ...          ...          ...       ...
2022-02-09  1735.000000  1743.000000  1725.000000  1737.300049   3867244
2022-02-10  1755.650024  1773.900024  1748.750000  1769.599976   4334630
2022-02-11  1740.000000  1745.949951  1713.000000  1721.349976   7551371
2022-02-14  1690.000000  1718.550049  1678.250000  1682.199951   7459637
2022-02-15  1699.000000  1746.750000  1690.449951  1738.250000   4669709

[1236 rows x 5 columns]

In [21]:
#calculate SMA
df['SMA5']=pta.sma(df['Close'],length=5)
df['SMA10']=pta.sma(df['Close'],length=10)
df['SMA20']=pta.sma(df['Close'],length=20)
df['SMA50']=pta.sma(df['Close'],length=50)
df['SMA100']=pta.sma(df['Close'],length=100)
df['SMA200']=pta.sma(df['Close'],length=200)

#Calculate MACD and Signal line
df['MACD_LINE']= pta.macd(df['Close'])['MACD_12_26_9']
df['MACD_SIGNAL']= pta.macd(df['Close'])['MACDs_12_26_9']

#Calculate RSI
df['RSI']=pta.rsi(df['Close'], length = 14)

#Calculate Stochastic(20,3)
df['STOCHK'] = pta.stoch(df['High'],df['Low'],df['Close'],k=20, d=3).STOCHk_20_3_3
df['STOCHD'] = pta.stoch(df['High'],df['Low'],df['Close'],k=20, d=3).STOCHd_20_3_3

#Calculate ROC(20)
df['ROC'] = pta.roc(df['Close'],length=20)

#Calculate CCI(20)
df['CCI'] = pta.cci(df['High'],df['Low'],df['Close'],length=20)

#Calculate Williamson%R(14)
df['WILLR'] = pta.willr(df['High'],df['Low'],df['Close'],length=14)

#Calculate MFI(14)
df['MFI'] = pta.mfi(df['High'],df['Low'],df['Close'],df['Volume'], length=14)

#Calculate ADX(14)
df['ADX'] = pta.adx(df['High'],df['Low'],df['Close'])['ADX_14']

#Calculate ATR(14)
df['ATR'] = pta.atr(df['High'],df['Low'],df['Close'],length=14)
df['ATR'] = pta.atr(df['High'],df['Low'],df['Close'],length=14)

#Calculate Bollinger Band(20,2)
df['BBL'] = pta.bbands(df['Close'],length=20)['BBL_20_2.0']
df['BBM'] = pta.bbands(df['Close'],length=20)['BBM_20_2.0']
df['BBH'] = pta.bbands(df['Close'],length=20)['BBU_20_2.0']

In [22]:
df

,Open,High,Low,Close,Volume,SMA5,SMA10,SMA20,SMA50,SMA100,...,STOCHD,ROC,CCI,WILLR,MFI,ADX,ATR,BBL,BBM,BBH
Date,,,,,,,,,,,,,,,,,,,,,
2017-02-15,432.556063,436.753928,423.635568,429.320190,7259486,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02-16,433.343133,443.356825,432.927713,442.569702,12815858,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02-17,443.291283,443.291283,434.086572,437.322418,4851208,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02-20,435.748251,450.834367,434.436415,441.760834,4650662,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02-21,446.942546,447.992026,437.300556,443.225677,7613996,438.839764,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-09,1735.000000,1743.000000,1725.000000,1737.300049,3867244,1729.850024,1730.940002,1790.432501,1801.422002,1758.082810,...,21.254956,-6.375293,-51.895926,-60.491777,35.370675,24.492455,41.109747,1624.556450,1790.432501,1956.308552
2022-02-10,1755.650024,1773.900024,1748.750000,1769.599976,4334630,1736.060010,1740.040002,1785.040002,1802.516001,1759.014382,...,22.391452,-5.744493,-21.333499,-26.853164,40.719272,23.487806,40.787620,1623.884985,1785.040002,1946.195020
2022-02-11,1740.000000,1745.949951,1713.000000,1721.349976,7551371,1732.110010,1743.555005,1776.267499,1801.978000,1759.497653,...,24.500985,-9.249793,-54.070045,-55.907704,41.166820,23.228651,41.917074,1621.424563,1776.267499,1931.110435
2022-02-14,1690.000000,1718.550049,1678.250000,1682.199951,7459637,1725.550000,1738.155005,1763.909998,1800.910999,1759.286111,...,24.637511,-12.810015,-88.277511,-86.541514,41.110948,23.556354,42.001567,1620.912112,1763.909998,1906.907883
2022-02-15,1699.000000,1746.750000,1690.449951,1738.250000,4669709,1729.739990,1734.775000,1753.847498,1801.769998,1759.650432,...,21.557944,-10.376386,-45.193435,-42.683903,48.576339,23.131712,43.612173,1635.489157,1753.847498,1872.205838

In [23]:
df['S_M5']=0
df.loc[df['Close'] > df['SMA5'], 'S_M5'] = 1

df['S_M10']=0
df.loc[df['Close'] > df['SMA10'], 'S_M10'] = 1

df['S_M20']=0
df.loc[df['Close'] > df['SMA20'], 'S_M20'] = 1

df['S_M50']=0
df.loc[df['Close'] > df['SMA50'], 'S_M50'] = 1

df['S_M100']=0
df.loc[df['Close'] > df['SMA100'], 'S_M100'] = 1

df['S_M200']=0
df.loc[df['Close'] > df['SMA200'], 'S_M200'] = 1

In [24]:
df['S_MC_5_20']=0
df.loc[df['SMA5'] > df['SMA20'], 'S_MC_5_20'] = 1

df['S_MC_20_50']=0
df.loc[df['SMA20'] > df['SMA50'], 'S_MC_20_50'] = 1

df['S_MC_50_200']=0
df.loc[df['SMA50'] > df['SMA200'], 'S_MC_50_200'] = 1

df['VOL20']=pta.sma(df['Volume'],length=20)
df['VOL5']=pta.sma(df['Volume'],length=5)

df['TARGET'] = np.where(df['Close'].shift(-1) > df['Close'], 1, 0)

df['H-L'] = df['High']-df['Low']
df['C-O']=df['Close']-df['Open']

In [25]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'SMA5', 'SMA10', 'SMA20',
       'SMA50', 'SMA100', 'SMA200', 'MACD_LINE', 'MACD_SIGNAL', 'RSI',
       'STOCHK', 'STOCHD', 'ROC', 'CCI', 'WILLR', 'MFI', 'ADX', 'ATR', 'BBL',
       'BBM', 'BBH', 'S_M5', 'S_M10', 'S_M20', 'S_M50', 'S_M100', 'S_M200',
       'S_MC_5_20', 'S_MC_20_50', 'S_MC_50_200', 'VOL20', 'VOL5', 'TARGET',
       'H-L', 'C-O'],
      dtype='object')

In [143]:
df_fundamental = pd.DataFrame.from_dict(ticker.get_info(), orient='index',columns=['value'])

In [144]:
df_fundamental.reset_index(level=0, inplace=True)

In [145]:
df_fundamental

                   index                                              value
0                    zip                                             560100
1                 sector                                         Technology
2      fullTimeEmployees                                             292067
3    longBusinessSummary  Infosys Limited, together with its subsidiarie...
4                   city                                          Bengaluru
..                   ...                                                ...
148              bidSize                                                  0
149              dayHigh                                            1746.75
150   regularMarketPrice                                            1738.25
151       preMarketPrice                                               None
152             logo_url              https://logo.clearbit.com/infosys.com

[153 rows x 2 columns]

In [146]:
ticker.earnings

          Revenue    Earnings
Year
2018  10939000000  2486000000
2019  11799000000  2199000000
2020  12780000000  2331000000
2021  13561000000  2613000000

In [151]:
ticker.financials

,2021-03-31,2020-03-31,2019-03-31,2018-03-31
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,3596000000.0,3095000000.0,3003000000.0,3143000000.0
Minority Interest,60000000.0,55000000.0,9000000.0,10000000.0
Net Income,2613000000.0,2331000000.0,2199000000.0,2486000000.0
Selling General Administrative,1281000000.0,1353000000.0,1281000000.0,1151000000.0
Gross Profit,4608000000.0,4077000000.0,3978000000.0,3810000000.0
Ebit,3327000000.0,2724000000.0,2697000000.0,2659000000.0
Operating Income,3327000000.0,2724000000.0,2697000000.0,2659000000.0
Other Operating Expenses,NaN,NaN,13120000000.0,10020000000.0
Interest Expense,-26000000.0,-24000000.0,-24000000.0,-24000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,973000000.0,757000000.0,803000000.0,657000000.0
Total Revenue,13561000000.0,12780000000.0,11799000000.0,10939000000.0
Total Operating Expenses,10234000000.0,10056000000.0,9102000000.0,8280000000.0
Cost Of Revenue,8953000000.0,8703000000.0,7821000000.0,7129000000.0
Total Other Income Expense Net,269000000.0,371000000.0,306000000.0,484000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,2623000000.0,2338000000.0,2200000000.0,2486000000.0
Net Income Applicable To Common Shares,2613000000.0,2331000000.0,2199000000.0,2486000000.0

In [150]:
ticker.get_actions(all)[["Dividends"]]

            Dividends
Date
2017-06-01      7.375
2017-10-31      6.500
2018-06-14      5.000
2018-09-04      0.000
2018-10-25      7.000
2019-01-24      4.000
2019-06-13     10.500
2019-10-22      8.000
2019-10-23      8.000
2020-05-29      9.500
2020-10-23     12.000
2021-05-31     15.000
2021-10-26     15.000